<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~ css/styles.css of 2026-05-may making 2026-may.bauska.org ~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
body {
  font-family:Helvetica;
}
table {
  table-layout:fixed;
  width:70%; 
}
.month-header {
  background-image:url("https://2026-may.bauska.org/images/silus-right-way.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  height:300px;
  text-align:right;
}

p {
  color:#fff;
  font-size:50%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}
h1 {
  color:#fff;  /* white */
  font-size:200%;
  font-weight:700;
  letter-spacing:3px;
  padding-right:50px;
  padding-top:150px;
  text-shadow:-1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  vertical-align:top;
}
/* padding-bottom:150px; */
.copyright-notice {
  color:#fff;
  font-size:65%;
  padding-right:50px;
  text-align:right;
  text-decoration:none;
  vertical-align:bottom;
}

.weekday-header {
  background-color:#999;  /* dark gray */
  border-color:#ddd;  /* very light gray */
  border-style:solid;
  letter-spacing:1px;
  line-height:25px;
}
.week {
  background-color:#ffff00;  /* eaeaea = very light gray */
  height:75px;
  margin:0;
  text-align:left;
  vertical-align:top;
}
.off-day {
  background-color:#ddd;  /* very light gray */
}

ul {
  font-size:75%;
  list-style:none;
  padding-left:20px;
  padding-right:5px;
}

.event {
  border-radius:5px;
  color:#10171c;  /* very dark (mostly black) blue */
  padding:5px;
  margin:5px 0;
}
<!-- added 5-13-25 7:06pm -->
.container {
  background-color: white;
  border: 2px solid #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba
  (0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Arial', sans-serif;
}
a {
  color: royalblue;
  text-decoration: none;
  position: relative;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease-in-out;
}
a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: crimson;
  transition: width 0.3s;
  position: absolute;
  bottom: -2px;
  left: 0;
}
a:hover {
  color: crimson;
}
a:hover::after {
  width: 88%;
}

<!-- World, National, & International Days -->
.mayDay {
  background-color:#ffdb9a;  /* very soft yellow */
}
.may-day {
  background-color:#ffdb9a;  /* pale orange */
}
.world-tuna {
  background-color:#9affff;  /* pale cyan */
}
.free-comic-book {
  background-color:#cde6ff;  /* very pale blue */
}
.kentucky-derby {
  background-color:#9affdb;  /* pale cyan - lime green */
}
.world-laughter {
  background-color:#ff80bf;  /* very light pink was ff3399 vivid pink */
}
.world-press-freedom {
  background-color:#c2e7e7;  /* light grayish cyan */
}
.intl-firefighters {
  background-color:#afffad;  /* pale lime green */
}
.starwars {
  background-color:#e8e193;  /* very soft yellow */
}
.cinco-de-mayo {
  background-color:#cde6ff;  /* very pale blue */
}
.world-asthma {
  background-color:#ffd9b4;  /* pale orange */
}
.natl-nurses {
  background-color:#b4ffd9;  /* pale cyan - lime green */
}
.natl-rememberance {
  background-color:#ffd9b4;  /* pale orange */
}
.mothers-day {
  background-color:#ff9999;  /* very light red */
}
.eat-what-you-want {
  background-color:#ceffff;  /* very pale cyan */
}
.bike-to-work {
  background-color:#98fb98;  /* very soft lime green */
}
.endangered-species {
  background-color:#a6f4ff;  /* pale cyan */
}
.natl-chocolate-chip {
  background-color:#ffedcd;  /* very pale orange */

.armed-forces {
  background-color:#ffc0cb;  /* very pale red (pink) */
}
.natl-rescue-dog {
  background-color:#9affff;  /* pale cyan */
}
.world-bee {
  background-color:#d3d3d3;  /* light gray */
}
.cultural-diversity {
  background-color:#e7ffe7;  /* very pale lime green */
}
.world-goth {
  background-color:#ffb9ff;  /* pale magenta was cd00cd strong magenta */
}
.world-turtle {
  background-color:#ccff9a;  /* pale green */
}
.natl-brother {
  background-color:#9aff9a;  /* pale lime green */
}
.natl-wine {
  background-color:#e5daf6;  /* light grayish violet */
}
.memorial {
  background-color:#00eeee;  /* pure cyan */
}
.natl-burger {
  background-color:#ff7e6d;  /* very light red */
}
.world-otter {
  background-color:#afffad;  /* pale lime green */
}
.intl-day-un-peace {
  background-color:#f6e5d3;  /* light grayish orange */
}
.world-ms {
    background-color:#d3e4f6;  /* light grayish blue */
}
.world-no-tobacco {
  background-color:#c7f395;  /* very soft green */
}
.github {
  background-color:#ece850;  /* soft yellow */
}
